aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.6
amqp==5.1.0
arrow==1.2.2
asgiref==3.4.1
astroid==2.9.3
async-timeout==4.0.2
attrs==21.4.0
auditlog3==1.0.1
autobahn==22.2.2
Automat==20.2.0
autopep8==1.6.0
backports.entry-points-selectable==1.1.0
banal==1.0.6
beautifulsoup4==4.10.0
billiard==3.6.4.0
boto3==1.21.16
botocore==1.24.17
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
charset-normalizer==2.0.10
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudinary==1.29.0
colorama==0.4.4
constantly==15.1.0
cryptography==36.0.1
daphne==3.0.2
dataset==1.5.2
defusedxml==0.7.1
distlib==0.3.3
dj-database-url==0.5.0
dj-rest-auth==2.2.3
Django==3.2.8
django-3-jet==1.0.8
django-admin-interface==0.19.0
django-allauth==0.49.0
django-appconf==1.0.5
django-celery-beat==2.2.1
django-colorfield==0.6.3
django-compressor==3.1
django-cors-headers==3.11.0
django-countries==7.3.2
django-countries-with-calling-codes==0.1.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-filter==21.1
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-haystack==3.1.1
django-heroku==0.3.1
django-kronos==1.0
django-rest-auth==0.9.5
django-ses==2.6.0
django-simple-pagination==1.3
django-storages==1.12.3
django-timezone-field==4.2.3
django-utils-six==2.0
djangorestframework==3.13.1
djangorestframework-jsonapi==5.0.0
filelock==3.3.1
frozenlist==1.3.0
future==0.18.2
geoip2==4.5.0
greenlet==1.1.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
inflection==0.5.1
isort==5.10.1
jmespath==0.10.0
kombu==5.2.4
lazy-object-proxy==1.7.1
Mako==1.2.0
MarkupSafe==2.1.0
maxminddb==2.2.0
mccabe==0.6.1
multidict==6.0.2
oauthlib==3.2.0
pbr==5.6.0
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==3.0.28
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.3.0
pylint==2.12.2
pyOpenSSL==22.0.0
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.19.2
python3-openid==3.2.0
pytz==2021.3
pyuca==1.2
PyYAML==6.0
rcssmin==1.1.0
requests==2.27.1
requests-oauthlib==1.3.1
rjsmin==1.2.0
s3transfer==0.5.2
service-identity==21.1.0
six==1.16.0
sorl-thumbnail==12.8.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
stevedore==3.5.0
stripe==2.67.0
tabulate==0.8.9
tellme==0.2.6
toml==0.10.2
Twisted==22.2.0
Twisted-iocsupport=1.1.4
txaio==22.2.1
typing_extensions==4.1.1
urllib3==1.26.8
vine==5.0.0
virtualenv==20.9.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.0.0
wikipedia==1.4.0
wrapt==1.11
XlsxWriter==1.0.5
yarl==1.7.2
zope.interface==5.4.0
