<!doctype html>
<html lang="en">
{% load static %}
  



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css "   rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Student Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav active">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            {% if user.is_authenticated  %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{%  url 'books' %}">Books</a></li>
                <li><a class="dropdown-item" href="{% url 'conversion'  %}">Conversion</a></li>
                <li><a class="dropdown-item" href="{% url 'dictionary'  %}">Dictionary</a></li>
                <li><a class="dropdown-item" href="{% url 'homework'  %}">Homework</a></li>
                <li><a class="dropdown-item" href="{% url 'notes'  %}">Notes</a></li>
                <li><a class="dropdown-item" href="{%  url 'todo'  %}">Todo</a></li>
                <li><a class="dropdown-item" href="{% url 'wiki' %}">Wikipedia</a></li>
                <li><a class="dropdown-item" href="{% url 'youtube' %}">Youtube</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register'  %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>
<br/>
<br/>
<body>
<section class="container text-center">
    <h1>Search Books and search your favourite</h1>
    <p>Just Enter the search query to obtain results</p>

    <form action="{% url 'books' %}" method="POST">

        {%csrf_token%}
        {{form}}
        <input class="btn btn-danger" type="submit" value="submit">
            
        </form>

        <h3>{{input}}</h3>
        {%for result in results%}

        <a href={{result.preview}} target="_blank">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-5">
                            <img src={{result.thumbnail}} class="img-fluid">
                        </div>
                        <div class="col-md-7">
                            <h3 class="p-0 m-0">{{result.title}}</h3>
                            
                            <b>


                                <u>
                                    {% if result.subtitle  %}
                                    <h5 class="p-0 m-0">{{result.subtitle}} </h5>
                                    {% endif  %}
                                </u>
                                    


                                
                            
                            </b>

                            {%  if result.description  %}
                            <h6 class="p-0 m-1">{{result.description}}</h6>
                            {% endif  %}



                            <b>

                                {% if result.categories %}
                                <h6 class="ml-0 mt-3">category:

                                    {% for category in result.categories  %}{{category}}{% endfor  %}</h6>
                                {%  endif  %}

                                {%  if result.count %}
                                <h6 class="ml-0 mt-1">Pages:{{result.count}}</h6>
                                {% endif %}
                                {% if result.rating %}
                                <h6 class="ml-0 mt-1">Rating:{{result.rating}}</h6>
                                {%  endif %}
                            </b>
                    </div>
                </div>
            </div>
        {% endfor  %}        
</body>

                        

















































<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
